body {
    background-color: antiquewhite;
    color: black;
    font-family:  "Tenor Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: bisque;
    color: black;
    font-family:  "Tenor Sans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}